.account-display{
    display: flex;
    flex-direction: column;
    margin: auto;
    text-align: center;
    border: 1px solid black;
    width: 75%;
    justify-content: center;
}

.address-display{
    border-radius: 5px;
    width: 75%;
    margin: auto;
    margin-top: 2%;
    padding: 2%;
}


@media (max-width: 1000px) {
    .account-display{
        width: 50%;
    }
}


@media (max-width: 600px) {
    .account-display{
        width: 90%;
    }

    .address-display{
        width: 90%;
    }
}