


.card {
  display: block;
  position: relative;
  margin-top: 1%;
  min-width: 25%;
  text-align: center;
}

.car-container {
  position: relative;
  margin-inline: auto;
  margin-top: 2%;
  display: block;
  //   max-height: 25%;
  width: 40%;
  //   max-height: 15vh;
}

.carousel {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  display: flex;
  flex-direction: row;
  height: inherit;
  position: inherit;
  margin-bottom: 5%;
}

.carousel::-webkit-scrollbar {
  height: 8px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #ffffff;
}

.carousel::-webkit-scrollbar-track {
  background: #b1b3b399;
}

.scroll_btn {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  font-size: 60px;
  font-weight: 700;
  opacity: 0.4;
  height: 8rem;
  width: 3rem;
  background-color: gray;
  border: none;
  cursor: pointer;
  color: white;
}

.scroll_btn:hover {
  opacity: 0.8;
}

$btn-distance: -3.75rem;
.next_btn {
  right: $btn-distance;
  border-radius: 0 2rem 2rem 0;
}

.prev_btn {
  left: $btn-distance;
  border-radius: 2rem 0 0 2rem;
}

.car-image {
  min-width: 100%;
  flex: 1 0 50%;
  //   background-color: rgb(148, 148, 148);
  //   border: 5px solid gray;
  border-radius: 15px;
  margin: auto;
  margin-top: 3%;
  margin-inline: 5%;

  scroll-snap-align: center;
    aspect-ratio: 4/3;
}

@media (max-width: 700px) {
  .car-container {
    width: 75%;
  }
}
