.cart{
    flex-direction: column;
}

.product{
    border: 1px solid black;

    img{
        background-color: black;
    }
}

.warning{
    color: rgb(221, 46, 22);
}

.delivery{
    display: block;
    position: relative;
    
}

.deliver-inputs{
    width: 60% !important;
}

.payment{
    display: grid;
    width: 50%;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
}

.payment > *{
    width: 100%;
}

.full-column{
    grid-column-start: 1;
    grid-column-end: 4;
}

.place{
    width: 50%;
    display: flex;
    justify-content: center;
}

.checkout{
    justify-content: center;
}