.intro{
    display: block;
    max-width: 60%;
    text-align: center;
    margin: auto;
    font-size: 18px;
    text-wrap: balance;
}

@media (max-width: 600px) {
    .intro{
        max-width: 90%;
    }
}