html,
body {
  width: 100%;
  min-height: 100%;
  position: absolute;
  display: block;
  margin: 0;
  --debug-color: rgb(153, 153, 178);
}


.links {
  margin: 1%;
  text-decoration: none !important;

  button{
    margin-inline: 0.5%;
    text-decoration-line: none !important;
  }
}

.remove-underline{
  text-decoration-line: none !important;
}

.act-btn {
  position: absolute;
  display: inline-block;
  right: 0;
  width: 10%;
}


.dropdown {
  display: none;
  position: absolute;
  /* right: 0; */
  width: fit-content;
  font-size: small;
  margin-right: 5%;
  background-color: antiquewhite;
  padding-inline: 1%;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
  text-align: center;
}

.col{
  display: block;
  text-align: center;
  margin: auto;
  width: 100%;
}

.toggle-modal{
  background-color: black !important;
  color: white !important;
}