@use "sass:math";

@mixin generate-width-classes($max: 100) {
  @for $i from 1 through $max {
    .w-#{$i} {
      width: math.percentage(math.div($i, 100));
    }
  }
}

@mixin generate-padding-classes($max: 15) {
  @for $i from 1 through $max {
    .p-#{$i} {
      padding: math.percentage(math.div($i, 100));
    }
  }
}

@mixin generate-margin-classes($max: 15) {
  @for $i from 1 through $max {
    .m-#{$i} {
      margin: math.percentage(math.div($i, 100)) !important;
    }
    .mi-#{$i} {
      margin-inline: math.percentage(math.div($i, 100)) !important;
    }
    .mr-#{$i} {
      margin-right: math.percentage(math.div($i, 100)) !important;
    }
    .ml-#{$i} {
      margin-left: math.percentage(math.div($i, 100)) !important;
    }
    .mt-#{$i} {
      margin-top: math.percentage(math.div($i, 100)) !important;
    }
    .mb-#{$i} {
      margin-bottom: math.percentage(math.div($i, 100)) !important;
    }
  }
}

.mx-auto {
  margin-inline: auto;
}

html,
body,
#root {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  min-height: 100vh;
  position: absolute;
  // display: block;
  margin: 0;
}

// Home page
.intro {
  text-align: center;
  font-size: 18px;
  text-wrap: balance;
}

// Navbar
.links {
  padding: 0.75%;
  margin-inline: 1.5%;
  display: inline-flex;
  align-items: center;
}

.nav-link {
  border: 10px solid rgba(0, 0, 0, 0);
  border-radius: 5px;
}

.nav-link:hover {
  box-shadow: 0px 0px 10px 10px #4bd6c1;
  transition: box-shadow 1s;
  cursor: pointer;
}

.side-buttons {
  display: flex;
  padding-right: 5%;
}

.dropdown-container {
  width: 20%;
  position: absolute;
  right: 0;
  justify-content: right;
  display: flex;
}

.hamburger {
  display: none;
}

.account {
  margin-left: 20%;
}

.account-dropdown {
  display: none;
  position: absolute;
  right: 0;
  width: fit-content;
  font-size: small;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  padding-inline: 1%;
  justify-content: flex-end;
  flex-direction: column;
  z-index: 500;

  button {
    display: block;
    width: 100%;
  }
}

#hamburger-menu {
  li {
    width: 7.5rem;
    text-align: center;
  }
}

.var-modal {
  width: 50%;
}

.auth-card {
  width: 35%;
  padding-inline: 0;
}

.container {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  min-height: 100%;
  box-sizing: border-box;
  justify-content: center;

  flex-wrap: wrap;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col {
  display: flex;
  margin: auto;
  // width: 100%;
  flex: 1 0 0%;
  flex-wrap: wrap;

  &-start {
    @extend .col;
    justify-content: flex-start;
    text-align: none;
  }

  &-center {
    @extend .col;
    justify-content: center;
  }

  &-end {
    @extend .col;
    justify-content: flex-end;
  }
}

.border {
  border: 1px solid black;
}

.center {
  text-align: center;
  justify-content: center;
}

@include generate-width-classes(100);

@include generate-margin-classes(100);

@include generate-padding-classes(100);

@media (max-width: 1400px) {
  .auth-card {
    width: 65%;
  }
}

@media (max-width: 800px) {
  .auth-card {
    width: 90%;
  }
}


@media (max-width: 600px) {
  .side-buttons {
    display: none;
  }

  .dropdown-container {
    position: relative;
    margin-right: 0;
    width: 100%;
    padding: 0;
  }

  .hamburger {
    display: block;
    // position: absolute;
    right: 0;
    margin-top: 0.05rem;
  }

  .nav-link {
    font-size: 15px;
    margin-inline: 0.5%;
  }
}
