.img-blank,
  img {
    min-width: 100px;
    min-height: 100px;
    background-color: black;
  }


.add-row {
  width: 75%;
  margin-inline: auto;
  justify-content: space-between;

  .price{
    margin-left: 4%;
  }

  .add{
    width: 40%;
    justify-content: space-between;
  }
}

.card {
  position: relative;
  display: block;
  margin-inline: auto;

  img, .skel-img{
    margin:auto;
  }

  .skel-img{
    min-height: 300px;
  }

  .buttons{
    display: flex;
    flex-direction: column;
    width: 60%;
    justify-content: center;
    margin-inline: auto;
    gap: 1rem;
  }
}

.product-content {
  width: 75%;
  margin-inline: auto;

  .img{
    width: 30%
  }

  .description{
    width: 60%;
    border-width: 1px;
    border-radius: 5px;
    border-style: solid;
    align-items: center;

    p{
      padding: 10px;
    }
  }


}

.close-button{
  position: fixed !important;
  right: 0;
  top: 0;
  text-align: center;

}