.img,
.header {
  justify-content: center;

  img {
    min-width: 100px;
    min-height: 100px;
    background-color: black;
  }
}

.add-row {
  width: 50%;
  margin: auto;
  justify-content: flex-end;
}

.add-col {
  // margin-right: 0;
  width: 50%;
  margin: 0;
}

.card {
  position: relative;
  display: block;
  width: 7.5%;


  img{
    background-color: black;
    height: 100px;
    width: 100px;
    display: block;
    margin:auto;
  }
}

