.search-area{
    width: 75%;
    margin: auto;
    position: relative;
    display: grid;
    grid-template-columns: 90% 10%;
    gap: 10px;
}

.products{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex: 1;
    flex-wrap: wrap;
    .card{
        flex: 25%;
    }
}

.skel-container{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.card-skeleton{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media (max-width: 1200px) {
    .products{ 

        .card{
            flex: 40%;
            max-width: 50%;
            margin-top: 4%;
        }
    }

    .search-area{
        width: 90%;
        font-size: 14px;
    }
}

@media (max-width: 750px) {
    .products{ 

        .card{
            flex: 60%;
            max-width: 90%;
        }
    }

    .search-area{
        width: 100%;

        font-size: 12px !important;
    }
}